/* Import Layout */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

/* All Sections */
/* Header Section */
/* End Header Section */
/* Services Section */
/* End Services Section */
/* About us Section */
/* End About us Section */
/* Contact Section */
* {
  padding: 0;
  margin: 0;
  font-size: 16px; }

/* Start NavBar */
.navbar {
  background-color: #0F1026;
  border-bottom: 2px solid #9799A6; }
  .navbar .container-fluid .navbar-brand {
    text-align: center; }
    .navbar .container-fluid .navbar-brand img {
      width: 30px;
      aspect-ratio: 1 / 1; }
    .navbar .container-fluid .navbar-brand .brand {
      font-family: "GilroyLight";
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      text-justify: auto; }
      @media (max-width: 220px) {
        .navbar .container-fluid .navbar-brand .brand {
          display: block;
          font-size: 0.8rem;
          font-weight: bold;
          margin: 0;
          padding: 0; } }
      .navbar .container-fluid .navbar-brand .brand:hover {
        cursor: pointer;
        color: white; }
  .navbar .container-fluid .navbar-toggler {
    background-color: #0F1026; }
    .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 46, 46%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
    font-family: "GilroyLight";
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    text-justify: auto; }
    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
      color: #f22e2e; }

/* End NavBar */
/* Start Banner */
.banner-section .banner-text {
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1; }
  .banner-section .banner-text .typewriter .typing-text {
    font-family: "GilroyExtraBold";
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    overflow: hidden;
    flex-wrap: wrap;
    border-right: 0.15rem solid #f22e2e;
    margin: 0 auto;
    padding-right: 2rem;
    letter-spacing: 0.1rem; }
    @media (max-width: 830px) {
      .banner-section .banner-text .typewriter .typing-text {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 1rem;
        margin: 0 auto;
        padding-left: 2rem; } }
  .banner-section .banner-text .typewriter:nth-child(1) {
    animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite alternate;
    animation-fill-mode: forwards; }
  .banner-section .banner-text .typewriter:nth-child(2) {
    animation: typing-2 3.5s steps(30, end), blink-caret 0.75s step-end infinite alternate;
    animation-fill-mode: forwards;
    opacity: 0; }
  .banner-section .banner-text .typewriter .selection {
    color: #f22e2e; }

@keyframes typing {
  0% {
    width: 0; }
  99.9% {
    border-right: 0.15rem solid #f22e2e; }
  100% {
    border: none; } }

@keyframes typing-2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99.9% {
    border-right: 0.15rem solid #f22e2e; }
  100% {
    border: none;
    opacity: 1; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #f22e2e; } }

/* End Banner */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

/* Start Footer */
footer .copyright {
  padding: 2.5rem; }
  footer .copyright .copyright-text {
    font-family: "GilroyLight";
    font-size: 1rem;
    color: white;
    text-decoration: none;
    text-justify: auto;
    text-align: center;
    margin: 0; }
    @media (max-width: 220px) {
      footer .copyright .copyright-text {
        font-size: 0.5rem;
        text-align: center; } }

/* End Footer */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

/* All Sections */
/* Header Section */
/* End Header Section */
/* Services Section */
/* End Services Section */
/* About us Section */
/* End About us Section */
/* Contact Section */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

/* Start Services */
#services {
  background-color: #0F1026; }
  #services .title-container {
    padding: 1rem; }
  #services .title {
    font-family: "GilroyExtraBold";
    font-size: 3rem;
    color: white;
    text-decoration: none;
    width: fit-content;
    text-align: center;
    border-bottom: 3px solid #f22e2e; }
    @media (max-width: 220px) {
      #services .title {
        font-size: 1rem; } }
  #services .card-section {
    margin: 0; }
    @media (max-width: 767px) {
      #services .card-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; } }
    #services .card-section .card-container {
      padding: 1rem; }
      #services .card-section .card-container .card {
        background-color: #2D2E40;
        width: 100%; }
        #services .card-section .card-container .card img {
          width: 100%;
          aspect-ratio: 1 / 1; }
        @media (max-width: 220px) {
          #services .card-section .card-container .card .card-body {
            padding: 0.5rem;
            text-align: center; } }
        #services .card-section .card-container .card .card-body .card-title {
          font-family: "GilroyExtraBold";
          font-size: 1.5rem;
          color: white;
          text-decoration: none;
          width: fit-content;
          text-align: center; }
          @media (max-width: 220px) {
            #services .card-section .card-container .card .card-body .card-title {
              font-size: 0.5rem;
              text-align: center;
              padding: 0.5rem 0 0.5rem 0;
              margin: 0; } }
          #services .card-section .card-container .card .card-body .card-title:hover {
            border-bottom: 2px solid #f22e2e; }
        #services .card-section .card-container .card .card-body .card-text {
          font-family: "GilroyLight";
          font-size: 1rem;
          color: white;
          text-decoration: none;
          text-justify: auto;
          padding-top: 1rem; }
          @media (max-width: 220px) {
            #services .card-section .card-container .card .card-body .card-text {
              font-size: 0.5rem;
              text-align: center; } }

/* End Services */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

/* All Sections */
/* Header Section */
/* End Header Section */
/* Services Section */
/* End Services Section */
/* About us Section */
/* End About us Section */
/* Contact Section */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

/* Start Form */
#contact {
  background-color: #0F1026; }
  #contact .title-container {
    padding: 1rem;
    margin: 0; }
    #contact .title-container .title {
      font-family: "GilroyExtraBold";
      font-size: 3rem;
      color: white;
      text-decoration: none;
      width: fit-content;
      text-align: center;
      border-bottom: 3px solid #f22e2e;
      padding: 0; }
      @media (max-width: 220px) {
        #contact .title-container .title {
          font-size: 1rem; } }
  #contact .subtitle-container {
    padding: 1rem; }
    #contact .subtitle-container .subtitle-text {
      font-family: "GilroyExtraBold";
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
      width: fit-content;
      text-align: center;
      padding: 1rem 0 1rem 0; }
      @media (max-width: 220px) {
        #contact .subtitle-container .subtitle-text {
          font-size: 0.5rem;
          text-align: center;
          padding: 0.5rem 0 0.5rem 0;
          margin: 0; } }
  #contact .mail-container {
    padding: 0.5rem;
    overflow: scroll; }
    #contact .mail-container .mail {
      font-family: "GilroyExtraBold";
      font-size: 1.2rem;
      color: white;
      text-decoration: none;
      width: fit-content;
      text-align: center;
      padding: 0.5rem;
      color: #f22e2e; }
      @media (max-width: 220px) {
        #contact .mail-container .mail {
          font-size: 0.5rem;
          text-align: center;
          padding: 0.5rem 0 0.5rem 0;
          margin: 0; } }
      #contact .mail-container .mail :hover {
        cursor: pointer; }
  #contact form {
    padding: 1rem;
    margin: 0; }
    #contact form .form-container {
      background-color: #2D2E40;
      border-radius: 0.7rem;
      padding: 1rem; }
      @media (max-width: 575px) {
        #contact form .form-container {
          padding: 0.5rem; } }
      #contact form .form-container .form-box {
        padding: 1rem; }
        @media (max-width: 575px) {
          #contact form .form-container .form-box {
            padding: 0.5rem; } }
        @media (max-width: 575px) {
          #contact form .form-container .form-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap; } }
        #contact form .form-container .form-box .form-label,
        #contact form .form-container .form-box .form-control {
          font-family: "GilroyLight";
          font-size: 1rem;
          color: white;
          text-decoration: none;
          text-justify: auto; }
          @media (max-width: 220px) {
            #contact form .form-container .form-box .form-label,
            #contact form .form-container .form-box .form-control {
              font-size: 0.5rem;
              text-align: center; } }
      #contact form .form-container .button-container {
        padding: 1rem 0 1rem 0; }
        #contact form .form-container .button-container button {
          background-color: #f22e2e;
          font-family: "GilroyLight";
          font-size: 1rem;
          color: white;
          text-decoration: none;
          text-justify: auto;
          border: none;
          border-radius: 1rem;
          width: 5rem;
          height: 3rem; }
          @media (max-width: 220px) {
            #contact form .form-container .button-container button {
              font-size: 0.5rem;
              text-align: center; } }
          @media (max-width: 575px) {
            #contact form .form-container .button-container button {
              width: 4rem;
              height: 2rem; } }

.pulse-button {
  padding: 1.5rem; }
  @media (max-width: 575px) {
    .pulse-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; } }
  .pulse-button .whatsapp-button .whatsapp-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    animation: pulse 4s infinite; }
    @media (max-width: 575px) {
      .pulse-button .whatsapp-button .whatsapp-icon {
        width: 2.5rem;
        height: 2.5rem; } }

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  70% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

/* End Form */
@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

/* All Sections */
/* Header Section */
/* End Header Section */
/* Services Section */
/* End Services Section */
/* About us Section */
/* End About us Section */
/* Contact Section */
/* Start About Us */
#aboutus .title-container {
  padding: 1rem; }
  #aboutus .title-container .title {
    font-family: "GilroyExtraBold";
    font-size: 3rem;
    color: white;
    text-decoration: none;
    width: fit-content;
    text-align: center;
    border-bottom: 3px solid #f22e2e; }
    @media (max-width: 220px) {
      #aboutus .title-container .title {
        font-size: 1rem; } }

#aboutus .subtitle-container .subtitle-text {
  font-family: "GilroyExtraBold";
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  width: fit-content;
  text-align: center;
  padding: 1rem 0 1rem 0; }
  @media (max-width: 220px) {
    #aboutus .subtitle-container .subtitle-text {
      font-size: 0.5rem;
      text-align: center;
      padding: 0.5rem 0 0.5rem 0;
      margin: 0; } }

#aboutus .member-section {
  margin: 0; }
  #aboutus .member-section .member-container {
    padding: 1rem; }
    #aboutus .member-section .member-container .member {
      position: relative; }
      #aboutus .member-section .member-container .member img {
        aspect-ratio: 1 / 1; }
      #aboutus .member-section .member-container .member .member-info {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: 0.2s;
        visibility: hidden;
        text-align: center; }
        #aboutus .member-section .member-container .member .member-info .member-info-text {
          font-family: "GilroyLight";
          font-size: 1.2rem;
          color: white;
          text-decoration: none;
          text-justify: auto;
          margin: 0;
          padding: 0.3rem;
          font-style: italic; }
          @media (max-width: 220px) {
            #aboutus .member-section .member-container .member .member-info .member-info-text {
              font-size: 0.5rem;
              text-align: center; } }
          @media (max-width: 220px) {
            #aboutus .member-section .member-container .member .member-info .member-info-text {
              padding: 0; } }
        #aboutus .member-section .member-container .member .member-info .member-social {
          padding: 0.3rem; }
          #aboutus .member-section .member-container .member .member-info .member-social a img {
            width: 1rem;
            height: 1rem;
            aspect-ratio: 1 / 1; }
            @media (max-width: 220px) {
              #aboutus .member-section .member-container .member .member-info .member-social a img {
                width: 0.5rem;
                height: 0.5rem; } }
      #aboutus .member-section .member-container .member:hover .member-info {
        background: rgba(0, 0, 0, 0.7);
        visibility: initial; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-display: swap; }

@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
  font-display: swap; }

.banner-section .banner-text, footer .copyright, #services .title-container, #services .title, #services .card-section .card-container .card .card-body .card-text, #contact .title-container, #contact .title-container .title, #contact .subtitle-container, #contact .mail-container, #contact form .form-container .button-container, #aboutus .title-container, #aboutus .subtitle-container, #aboutus .member-section, #aboutus .member-section .member-container .member .member-info, #body .image-container .error-image, #body .image-container .error-text, #body .image-container .error-button-container, #body .image-container .error-button-container .error-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.pulse-button .whatsapp-button {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.banner-section, footer, #aboutus {
  background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
  background-attachment: fixed;
  background-size: cover; }

#body {
  background-color: #0F1026 !important; }
  #body .image-container {
    background-color: #0F1026; }
    #body .image-container .error-image {
      height: 500px;
      width: 500px;
      margin: auto; }
    #body .image-container .error-text {
      font-family: "GilroyExtraBold";
      font-size: 2.5rem;
      color: white;
      text-decoration: none;
      padding: 1.25rem 0.62rem;
      width: fit-content;
      text-align: center;
      border-bottom: 5px solid #f22e2e; }
    #body .image-container .error-button-container .error-button {
      font-family: "GilroyLight";
      font-size: 1rem;
      color: white;
      text-decoration: none;
      background-color: #f22e2e;
      border-radius: 10px;
      width: 200px;
      height: 40px; }
