@import "utilities/lists";
@import "utilities/variables";
@import "utilities/extend";

/* All Sections */
@mixin responsive-text {
    @media (max-width: 220px) {
        font-size: nth($fontsize, 1);
        text-align: center;
    }
}

@mixin responsive-subtitle {
    @media (max-width: 220px) {
        font-size: nth($fontsize, 1);
        text-align: center;
        padding: 0.5rem 0 0.5rem 0;
        margin: 0;
    }
}

@mixin responsive-title {
    @media (max-width: 780px) and (min-width:220px) {
        font-size: nth($fontsize, 6);
        padding:  0.5rem 0 0.5rem 0;

    }
}

@mixin responsive-title {
    @media (max-width:220px){
        font-size: nth($fontsize, 3);
    }
}

@mixin responsive-flexbox {
    @media (max-width: 575px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}






/* Header Section */
@mixin responsive-brand{
    @media (max-width: 220px) {
        display: block;
        font-size: nth($fontsize, 2);
        font-weight:bold;
        margin: 0;
        padding:0;
    }
}



@mixin responsive-navbar-collapse {
    @media (max-width: 220px) {
        display: flex;
        justify-content: flex-start !important;
    }
}
/* End Header Section */



/* Services Section */
@mixin responsive-card-body {
    @media (max-width: 220px) {
        padding: 0.5rem;
        text-align: center;
    }
}


@mixin responsive-card-section {
    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
/* End Services Section */


/* About us Section */
@mixin responsive-member-info {
    @media (max-width: 220px) {
        padding: 0;
    }
}

@mixin responsive-member-social {
    @media (max-width: 220px) {
        width: 0.5rem;
        height: 0.5rem;
    }
}
/* End About us Section */

/* Contact Section */
@mixin responsive-form-container {
    @media (max-width: 575px) {
        padding: 0.5rem;
    }
}

@mixin responsive-form-button {
    @media (max-width: 575px) {
        width: 4rem;
        height: 2rem;
    }
}

@mixin responsive-pulse-button {
    @media (max-width: 575px) {
        width: 2.5rem;
        height: 2.5rem;
    }
}




    