@import "utilities/lists";
@import "utilities/variables";



@mixin texts ($fontsize) {
    font-family: $font-light;
    font-size: $fontsize;
    color: $font-color;
    text-decoration: none;
    text-justify: auto;
     
}

@mixin title ($fontsize) {
    font-family: $font-bold;
    font-size: $fontsize;
    color: $font-color;
    text-decoration: none;
    width: fit-content;
    text-align: center;
}


@mixin text {
    font-family: $font-light;
    font-size: $font-size-text;
    color: $font-color;
    text-decoration: none;
}


@mixin banner-text {
    font-family: $font-bold;
    font-size: nth($fontsize, 11);
    font-weight: bold;
    color: $font-color;
    text-decoration: none;
}



@mixin subtitle-text {
    font-family: $font-bold;
    font-weight:lighter;
    font-size: nth($fontsize, 3);
    color: $font-color;
    text-decoration: none;

}

@mixin mail-text {
    font-family: $font-bold;
    font-size: nth($fontsize, 3);
    color: lighter($font-color, 40%);
    text-decoration: none;
}

@mixin titles {
    font-family: $font-bold;
    font-size: nth($fontsize, 9);
    color: $font-color;
    text-decoration: none;
    padding: 1.25rem 0.62rem;
    width: fit-content;
    text-align: center;
    border-bottom: 5px solid nth($color, 10);
}






@mixin responsive-copyright {
    @media (max-width: 768px) {
        display: flex;
        text-align: center;
        align-items: center;
    }
}

@mixin responsive-text-banner {
    @media (max-width: 830px) {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: nth($fontsize, 3);
        margin: 0 auto;
        padding-left: 2rem;
        
    }
    
}