@import "utilities/lists";
@import "utilities/variables";



@mixin texts ($fontsize) {
    font-family: $font-light;
    font-size: $fontsize;
    color: $font-color;
    text-decoration: none;
    text-justify: auto;
     
}

@mixin banner-text {
    font-family: $font-bold;
    font-size: 7vw;
    text-decoration: none;
     
}


@mixin title ($fontsize) {
    font-family: $font-bold;
    font-size: $fontsize;
    color: $font-color;
    text-decoration: none;
    width: fit-content;
    text-align: center;
}










