@import "utilities/lists";
@import "base/fonts";

$bg-color: nth($color, 6);
$card-bg-color: nth($color, 7);
$details-color: nth($color, 10);
$font-color: nth($color, 3);
$font-light: "GilroyLight";
$font-bold: "GilroyExtraBold";
$font-size-text: nth($fontsize, 3);
$font-size-title: nth($fontsize, 10);
$font-size-subtitle: nth($fontsize, 4);
$font-size-banner: nth($fontsize, 12);
$font-size-brand: nth($fontsize, 5);
