@import "utilities/mixins";
@import "utilities/variables";
@import "utilities/breakpoints";

/* Start About Us */

#aboutus {
    @extend %parallax;

    .title-container {
        @extend %flexbox;
        padding: 1rem 0 1rem 0;

        .title {
            @include title ($font-size-title);
            @include responsive-title;
            border-bottom: 3px solid nth($color, 10);
        }
    }

    .subtitle-container {
        @extend %flexbox;

        .subtitle-text {
            @include title ($font-size-subtitle);
            @include responsive-subtitle;
            padding: 1rem 0 1rem 0;

        }
    }

    .member-section {
        margin: 0;
        @extend %flexbox;


        .member-container {
            padding: 1rem;


            .member {
                position: relative;

                img{
                    aspect-ratio: 1 / 1;
                }


                .member-info {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    @extend %flexbox;
                    transition: 0.2s;
                    visibility: hidden;
                    text-align: center;


                    .member-info-text {
                        @include texts ($font-size-subtitle);
                        @include responsive-text;
                        @include responsive-member-info;
                        margin: 0;
                        padding: 0.3rem;
                        font-style: italic;

                    }

                    .member-social {
                        padding: 0.3rem;

                        a img {
                            @include responsive-member-social;
                            width: 1rem;
                            height: 1rem;
                            aspect-ratio: 1 / 1;
                        }
                    }
                }

                &:hover .member-info {
                    background: rgba(0, 0, 0, 0.7);
                    visibility: initial;
                }

            }
        }
    }
}