@import "utilities/extend";
@import "utilities/mixins";
@import "utilities/breakpoints";
@import "utilities/variables";

/* Start Form */
#contact {
    background-color: $bg-color;


    .title-container {
        @extend %flexbox;
        padding: 1rem;
        margin: 0;


        .title {
            @include title ($font-size-title);
            border-bottom: 3px solid nth($color, 10);
            @extend %flexbox;
            @include responsive-title;
            padding: 0;


        }
    }

    .subtitle-container {
        @extend %flexbox;
        padding: 1rem;

        .subtitle-text {
            @include title ($font-size-subtitle);
            @include responsive-subtitle;
            padding: 1rem 0 1rem 0;
        }
    }

    .mail-container {
        @extend %flexbox;
        padding: 0.5rem;
        overflow:scroll;

        .mail {
            @include title ($font-size-subtitle);
            @include responsive-subtitle;
            padding: 0.5rem;
            color: $details-color;
            


            :hover {
                cursor: pointer;
            }

        }
    }


    form {
        padding: 1rem;
        margin: 0;

        .form-container {
            background-color: $card-bg-color;
            border-radius: 0.7rem;
            padding: 1rem;
            @include responsive-form-container;
            

            .form-box {
                padding: 1rem;
                @include responsive-form-container;
                @include responsive-flexbox;

                .form-label,
                .form-control {
                    @include texts ($font-size-text);
                    @include responsive-text;
                }
            }

            .button-container {
                padding: 1rem 0 1rem 0;
                @extend %flexbox;


                button {
                    background-color: $details-color;
                    @include texts ($font-size-text);
                    @include responsive-text;
                    @include responsive-form-button;
                    border: none;
                    border-radius: 1rem;
                    width: 5rem;
                    height: 3rem;


                }
            }


        }
    }
}

.pulse-button {
    padding: 1.5rem;
    @include responsive-flexbox;

    .whatsapp-button {
       @extend %flexbox-end;
       

        .whatsapp-icon {
            width: 3.5rem;
            height: 3.5rem;
            @include responsive-pulse-button;
            border-radius: 50%;
            animation: pulse 4s infinite;



            @keyframes pulse {
                0% {
                    transform: scale(0.9);

                }

                70% {
                    transform: scale(1);

                }

                100% {
                    transform: scale(0.9);
                }


            }
        }
    }
}






/* End Form */