@import "utilities/extend";
@import "utilities/mixins";
@import "utilities/breakpoints";
@import "utilities/variables";

/* Start Form */
#contact {
    background-color: $bg-color;


    .title-container {
        @extend %flexbox;
        padding: 1rem 0 1rem 0;
        margin: 0;


        .title {
            @include title ($font-size-title);
            border-bottom: 3px solid nth($color, 10);
            @extend %flexbox;
            @include responsive-title;
            padding: 0;


        }
    }

    .subtitle-container {
        @extend %flexbox;
        padding: 0;

        .subtitle-text {
            @include title ($font-size-subtitle);
            @include responsive-subtitle;
            padding: 1rem 0 1rem 0;
        }
    }

    .mail-container {
        @extend %flexbox;

        .mail {

            @include title ($font-size-subtitle);
            @include responsive-subtitle;
            padding: 1rem 0 1rem 0;
            color: $details-color;
            font-weight: 500;

            :hover {
                cursor: pointer;
            }

        }
    }

    .form {
        padding: 2rem;


        .form-container {
            background-color: $card-bg-color;
            border-radius: 10px;
            padding: 2rem;
            @include responsive-form-container;




            .form-box {
               
                .form-label {
                    @include texts ($font-size-text);
                    @include responsive-text;
                }

                .form-control {
                    @include texts ($font-size-text);
                    @include responsive-text;
                   
                }

            }


            .button-container {
                @extend %flexbox;


            }

            .form-button {
                @include texts ($font-size-text);
                @include responsive-text;
                border-radius: 5px;
                background-color: $details-color;
                width: 100px;
                height: 40px;

            }

        }
    }

    .pulse-button {
        padding: 1.5rem;

        .whatsapp-button {
            display: flex;
            justify-content: flex-end;
            align-items: center;




            .whatsapp-icon {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
                animation: pulse 2s infinite;



                @keyframes pulse {
                    0% {
                        transform: scale(0.9);

                    }

                    70% {
                        transform: scale(2);

                    }

                    100% {
                        transform: scale(0.9);
                    }


                }
            }
        }
    }


}



/* End Form */