@import "utilities/mixins";
@import "utilities/variables";
@import "utilities/extend";


#body {
    background-color: $bg-color !important;


    .image-container {
        background-color: $bg-color;


        .error-image {
            height: 500px;
            width: 500px;
            margin: auto;
            @extend %flexbox;
        }

        .error-text {
            @include titles;
            @extend %flexbox;
        }

        .error-button-container {
            @extend %flexbox;

            .error-button {
                @extend %flexbox;
                @include text;
                background-color: $details-color;
                border-radius: 10px;
                width: 200px;
                height: 40px;
            }
        }



    }
}