@import "utilities/mixins";
@import "utilities/extend";
@import "utilities/variables";
@import "utilities/lists";

/* Start Footer */

footer {
    @extend %parallax;


    .copyright {
        padding: 2.5rem;
        @extend %flexbox;

        .copyright-text {
            @include texts ($font-size-text);
            @include responsive-text;
            text-align: center;
            margin: 0;
        }

    
    }
}

/* End Footer */