@import "utilities/mixins";
@import "utilities/variables";
@import "utilities/lists";
@import "utilities/breakpoints";


* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}


/* Start NavBar */
.navbar {
    background-color: $bg-color;
    border-bottom: 2px solid nth($color, 8);

    .container-fluid {


        .navbar-brand {
            text-align: center;

            img {
                width: 30px;

            }


            .brand {
                @include texts ($font-size-brand);
                @include responsive-brand;

                &:hover {
                    cursor: pointer;
                    color: $font-color;
                }
            }
        }

        .navbar-toggler {
            background-color: $bg-color;
            padding: 0.5rem;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28242, 46, 46%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }

        .navbar-collapse {
            .navbar-nav {
                align-items: flex-start;
                .nav-link {
                    @include texts ($font-size-subtitle);
                    @include responsive-text;




                    &:hover {
                        color: $details-color;
                    }
                }

            }
        }
    }
}

/* End NavBar */


/* Start Banner */
.banner-section {
    background-image: url("https://i.ibb.co/pb8LGXg/5570215.jpg");
    background-size: cover;
    object-fit: cover;
    height: 60rem;
    @extend %flexbox;
    @include responsive-banner-section;


    .typing-container {
        width: auto;
        padding: 1rem;
        overflow: auto;
        @include responsive-typing-container;


        h1,
        h2,
        h3 {
            width: fit-content;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
            padding-left: 1rem;
            width: auto;
            @include banner-text;
            @include responsive-typing-container;



            &:nth-child(1) {
                border-right: 0.2rem solid white;
                color: white;
                width: 11.5em;
                animation: type 2s steps(19, end);
                animation-fill-mode: forwards;

            }


            &:nth-child(2) {
                border-right: 0.2rem solid white;
                color: white;
                width: 8.5em;
                opacity: 0;
                animation: type2 2s steps(16, end);
                animation-delay: 2s;
                animation-fill-mode: forwards
            }

            &:nth-child(3) {
                border-right: 0.2rem solid $details-color;
                color: $details-color;
                width: 5.5em;
                opacity: 0;
                animation: type3 2s steps(13, end), blink .5s step-end infinite alternate;
                animation-delay: 4s;
                animation-fill-mode: forwards;

            }

        }

    }



    @keyframes type {
        0% {
            width: 0;
        }

        99.9% {
            border-right: 0.2rem solid white;
        }

        100% {
            border: none;
        }
    }


    @keyframes type2 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        99.9% {
            border-right: 0.2rem solid white;
        }

        100% {
            opacity: 1;
            border: none;
        }
    }


    @keyframes type3 {
        0% {
            width: 0;
        }

        1% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }




    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }

}


/* End Banner */