@import "utilities/extend";
@import "utilities/mixins";
@import "utilities/breakpoints";


/* Start Services */

#services {
    background-color: $bg-color;

    .title-container {
        @extend %flexbox;
        padding: 1rem 0 1rem 0;
    }

    .title {
        @include title ($font-size-title);
        border-bottom: 3px solid nth($color, 10);
        @extend %flexbox;
        @include responsive-title;

    }

    .card-section {
        margin: 0;
        @include responsive-card-section;
        

        .card-container {
            padding: 1rem;
            @include responsive-card-container;
           
            

            .card {
                @extend %service-card;
                
                

                .card-body {
                    @include responsive-card-body;
                    .card-title {
                        @include title ($font-size-brand);
                        @include responsive-subtitle;

                        &:hover {
                            border-bottom: 2px solid $details-color;
                        }
                    }

                    .card-text {
                        @include texts ($font-size-text);
                        @include responsive-text;
                        @extend %flexbox;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

/* End Services */