@font-face {
    font-family: "GilroyExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "GilroyLight";
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
    font-display: swap;
}

